/* GENERAl */

html {
    box-sizing: border-box;
    height:100%;
    background: linear-gradient(0deg, rgba(168, 198, 108, 0.06), rgba(168, 198, 108, 0.06)), #FFFFFF;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {

    font-size: 100%;
    min-height:100%;
    padding: 0;
    margin: 0;
}

nav {
    display: none;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 70px;
    margin-left: 5%;
    font-family: Roboto Condensed, sans-serif;
    color: rgba(27, 101, 83, 0.8);
}

h2{
    font-size: 30px;
    margin-top: 2em;
    font-family: Roboto Condensed, sans-serif;
    margin-left: 5%;
    color: rgba(27, 101, 83, 0.8);
}

h3{
    font-family: Roboto Condensed, sans-serif;
}

p{
    font-family: Roboto Condensed, sans-serif;
}

em {
    color: #2FA0FE;
}

.icon {
    mix-blend-mode: multiply;
    height: 0.6 em;   
}

/* CORPS DU SITE */

article {
    margin: 15% 0 15% 0;
    background-color: #DEF9FF;
    display: flex;
}

article p {
    font-size: 0.8rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px)
{
}