
/* GENERAl */

html {
    box-sizing: border-box;
    height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
    min-height:100%;
    padding: 0;
    margin: 0;
}

nav {
    display: none;
}


h2{
    margin-top: 2em;
    font-size: 0.45em;
    text-align: center;
}

em{
    color: #2FA0FE;
}

.circle{
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    border-radius:150px;
    width:190px;
    height:190px;

    border: 3px #DEF9FF solid;
}

.opacity{
    width: 100%;
    opacity: 0.33;
    height: 550px;
    margin-top: 100px;
}

#blue{
    background-color: #DEF9FF;
    margin-top: 100px;
}

#sponso{
    background-color: #DEF9FF;
    margin-top: 100px;
}

/* HEADER */

#logo {
    width: 100%;
    height: auto;
}

header button{
  width: 300px;
  height:100px;
  background: #2FA0FE;
  color: #fff;
  font-size: 40px;
  text-align: center;
  border-radius: 50px;
  margin-left: 350px;
  margin-top: 350px;
  
  border: 6px #DEF9FF solid;
}

/* CORPS DU SITE */

article{
    margin-top: 100px;
}

#scale-fair{
    width: 90%;
    margin-left: 5%;
    margin-top: 84px;
}

h1{
    font-family: 'Caveat', cursive;
    font-size: 70px;
    margin-top: 50px;
    text-align: left;
    margin-left: 10%;
}

#one{
    background-color: #DEF9FF;
    margin-top: 300px;
    width: 75%;
    display: flex;
}

#two{
    background-color: #DEF9FF;
    display: flex;

}

#tree{
    background-color: #DEF9FF;
    width: 75%;
    display: flex;
}

#four{
    background-color: #DEF9FF;
    display: flex;
}

#five{
    background-color: #DEF9FF;
    width: 75%;
    display: flex;
}

#six{
    background-color: #DEF9FF;
}


/* FOOTER */

footer{
    background-color: #DEF9FF;
}



/* MEDIA QUERIES */

@media screen and (max-width: 600px)
{
    nav {
        display: flex;
    }
}