/* Sharify fonts //

font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;

*/

html {
    box-sizing: border-box;
    height:100%;
    font-size: 2rem; /*TO BE DELETED*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%;
    min-height:100%;
    padding: 0;
    margin: 0;
}